@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

:root {
  --bg: hsl(270, 50%, 70%);
  font-family: 'Nunito', sans-serif;
}


body {
    font-size: 15pt;
}

.logo {
  background-size: cover;
  height: 95px;
  width: 95px;
  margin-top: -5px;
  
}

.navBar ul {
  list-style-type: none;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}

.navBarList li a{
  display: block;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #000;
  background: var(--bg);
  border-radius: 5px;
}

.navBarList li a:hover {
  background: var(--bg);
  color: #fff;
  font-weight: 700;
}




/*Media Queries*/
